{% extends 'base.html' %}
{% block title %}Статья{% endblock %}
{% block menu %}
        {% if perms.webapp.add_food %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:food_create' %}">Добавить еду</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:food_update' food.pk %}">Изменить еду</a>
            </li>
        {% endif %}
{% endblock %}
{% block content %}
    <div>
        <h1 class="text-center mt-4 mb-3">{{ food.name }}</h1> <h4 class="text-right"> Цена: {{ food.price }} </h4>
            <p class="mb-3">{{ food.description }}</p>
            <img src="{{ food.photo.url }}" alt="Картинка еды">
    </div>

{% endblock %}