{% extends 'base.html' %}
{% block title %}Удалить заказ{% endblock %}
{% block content %}
    <h1>Удаление заказа</h1>
    <h5>Вы уверены, что хотите удалить заказ {% for order_food in order.foods.all %}
                                                {{ order_food.food.name }}
                                             {% endfor %}?</h5>
    <form action="{% url 'order_delete' order.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn, btn-primary">Удалить</button>
    </form>
{% endblock %}
