{% extends 'base.html' %}
{% block title %}Статья{% endblock %}
{% block menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'order_list' %}">Список заказов</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'order_create' %}">Заполнять данные для заказа</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'order_food_create' %}">Выбрать блюдо</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'order_update' order.pk %}">Изменить данные для заказа</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'order_food_update' order.pk %}">Изменить заказ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'order_cancel' order.pk %}">Отменить заказ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'order_deliver' order.pk %}">Сменить статус заказа</a>
        </li>
{% endblock %}
{% block content %}
    <div>
        <h1 class="text-center mt-4 mb-3">Заказ</h1>
            <h4 class="mb-5">Данные заказщика: {{ order.contact_name }}, {{ order.contact_phone }}, {{ order.delivery_address }}</h4>
            <div class="ml-5">
                {% for order_food in order.foods.all %}
                    <h4>{{ order_food.food.name }} <p>{{ order_food.amount }}</p></h4>
                {% endfor %}
            </div>
            <div class="text-right">
                <h6>Курьер: {{ order.courier.first_name }}</h6>
                <h6>Оператор: {{ order.operator.first_name }}</h6>
                <h4 class="mr-3">Статус: {{ order.get_status_display }}</h4>
            </div>
    </div>

{% endblock %}